.productWrapper {
  min-height: 30rem;
}
.fullContainer {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 250px));
  gap: 4rem;
  width: 100%;
  padding: 2rem 1rem;
}
.nothing  {
  text-align: center;
  min-height: 30rem;
  display: flex;
  align-items: center;
  justify-content: center;
}